.gameboard {
  border-spacing: 3px;
  border-collapse: separate;
  border: 5px #008080 solid;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  width: 70%;
}

.letter {
  opacity: 0.9;
  font-family: arial, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  color: white;
  background: #008080;
  margin: 2px;
  padding: 6px;
  border: 1px #eef solid;
  width: 1em;
  border-radius: 3px 6px;
}

.letter:hover {
  color: #fff;
  background: #000;
}

.selectedLetter {
  background: orange;
}

.rightLetters {
  background: blue;
}

.gameButton {
  background-color: white;
  border-radius: 30%;
  color: black;
  padding: 8px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

.gameButton:hover {
  background-color: #008080;
}
